*, *::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bgColorPrimary: rgba(31, 2, 14, .49);
  --colorPrimary: #7D09D9;
  --colorSecondary: #D9D9D9;
}
body {
  font-family: 'Roboto', sans-serif;
}
/** ------------ Pagina Principal -----------**/
.main {
  background-image: url(../assets/img/pexels-yan-krukov-9072372.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.main-info {
  max-width: 550px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bgColorPrimary);
  border-radius: 0 20px 20px 0;
  color: white;
  padding: 4rem;
}
.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #FF09AB;
}
.spacing {
  line-height: 1.5;
}
.description {
  font-size: 1.2rem;
  text-align: center;

}
.btn-primary {
  background-color: var(--colorPrimary);
  padding: 1rem;
  color: white;
  text-decoration: none;
}
/* ----------- Pagina formulario de tarjeta -------------*/
.main-tarjet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/img/background.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  margin-top: 1rem;
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width:380px ;
  height: 240px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card img {
  width: 60px;
  height: 44px;
}
.number {
  font-size: 1.8rem;
  font-weight: 700;
}
.number span{
  margin-right: 1.2rem;
}
.footer-card {
  display: flex;
  justify-content: space-between;
}
.date {
  text-align: end;
}
.section-form {
  width: 550px;
  border-radius: 20px;
  box-shadow: rgba(221, 12, 92, 0.329) 0px 7px 29px 0px;
  background-color: white;
  padding: 3rem;
  position: absolute;
  margin-top: 10%;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6rem;
}
.form input {
  padding: .7rem;
  width: 100%;
  border: 1px solid var(--colorSecondary);
}
.form div {
  margin-top: .5rem;
}
.grid-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-date input {
  width: 150px;
}
.grid-date div select {
  padding: .65rem;
  width: 140px;
  border: none;
  border: 1px solid var(--colorSecondary);
}
.btnValidar {
  padding: 1rem;
  margin-top: 1.5rem;
  border: none;
  background-color: var(--colorPrimary);
  color: white;
}

